---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

<h2>Theses</h2>
<ul>
  {% for item in site.portfolio %}
    {% if item.category == "thesis" %}
      <li>
        <a href="{{ item.url | relative_url }}">{{ item.title }}</a><br>
        {{ item.description }}
      </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>Presentations</h2>
<ul>
  {% for item in site.portfolio %}
    {% if item.category == "presentation" %}
      <li>
        <a href="{{ item.url | relative_url }}">{{ item.title }}</a><br>
        {{ item.description }}
      </li>
    {% endif %}
  {% endfor %}
</ul>